{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<body>
  <h1>{% translate "Магазин" %}</h1>
  <p>
    {% translate "Счет №" %}{{ order.id }}<br>
    <span class="secondary">
      {{ order.created|date:"d M, Y" }}
    </span>
  </p>

  <h3>{% translate "Чек для" %}</h3>
  <p>
    {{ order.first_name }} {{ order.last_name }}<br>
    {{ order.email }}<br>
    {{ order.address }}<br>
    {{ order.postal_code }}, {{ order.city }}
  </p>

  <h3>{% translate "Купленные товары" %}</h3>
  <table>
    <thead>
      <tr>
        <th>{% translate "Продукт" %}</th>
        <th>{% translate "Цена" %}</th>
        <th>{% translate "Количество" %}</th>
        <th>{% translate "Всего" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.items.all %}
        <tr class="row{% cycle '1' '2' %}">
          <td>{{ item.product.name }}</td>
          <td class="num">{{ item.price }} руб.</td>
          <td class="num">{{ item.quantity }}</td>
          <td class="num">{{ item.get_cost }}</td>
        </tr>
      {% endfor %}

      {% if order.coupon %}
        <tr class="subtotal">
          <td colspan="3">{% translate "Промежуточная сумма" %}</td>
          <td class="num">{{ order.get_total_cost_before_discount|floatformat:2 }}</td>
        </tr>
        <tr>
          <td colspan="3">
            {% blocktranslate with code=order.coupon.code discount=order.discount %}
              Купон {{ code }}
              Скидка {{ discount }}%
            {% endblocktranslate %}
          </td>
          <td class="num neg">- {{ order.get_discount|floatformat:2 }}</td>
        </tr>
      {% endif %}

      <tr class="total">
        <td colspan="3">{% translate "Всего" %}</td>
        <td class="num">{{ order.get_total_cost|floatformat:2 }} руб.</td>
      </tr>
    </tbody>
  </table>

  <span class="{% if order.paid %}paid{% else %}pending{% endif %}">
    {% if order.paid %}{% translate "Оплачено" %}{% else %}{% translate "Ожидает оплаты" %}{% endif %}
  </span>
</body>
</html>