{% extends 'shop/base.html' %}
{% load i18n static %}

{% block title %}{% translate "Сброс пароля" %}{% endblock %}

{% block content %}
    <h1>{% translate "Сброс пароля" %}</h1>
      {% if validlink %}
        <p>{% translate "Пожалуйста, введите новый пароль дважды" %}</p>
        <form method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <p><input type="submit" value="{% translate 'Сменить пароль' %}" /></p>
        </form>
      {% else %}
      <p>{% translate "Ссылка для сброса пароля была неверной, возможно, потому, что она уже использовалась.
          Пожалуйста, запросите новый сброс пароля" %}</p>
      {% endif %}
{% endblock %}