{% extends 'shop/base.html' %}
{% load 180n static %}

{% block title %}{% translate "Оплата заказа" %}{% endblock %}

{% block content %}
    <h1>{% translate "Оплата заказа" %}</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>{% translate "Изображение" %}</th>
                <th>{% translate "Продукт" %}</th>
                <th>{% translate "Цена" %}</th>
                <th>{% translate "Количество" %}</th>
                <th>{% translate "Всего" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
                <tr class="row{% cycle '1' '2' %}">
                    <td>
                        <img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                    </td>
                    <td>{{ item.product.name }}</td>
                    <td class="num">{{ item.price }} руб.</td>
                    <td class="num">{{ item.quantity }}</td>
                    <td class="num">{{ item.get_cost }}</td>
                </tr>
            {% endfor %}

            {% if order.coupon %}
                <tr class="subtotal">
                    <td>{% translate "Промежуточная сумма" %}</td>
                    <td colspan="3"></td>
                    <td class="num">{{ order.get_total_cost_before_discount|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>
                        {% blocktranslate with code=order.coupon.code discount=order.discount %}
                            Купон "{{ code }}"
                            Скидка {{ discount }}%
                        {% endblocktranslate %}
                    </td>
                    <td colspan="3"></td>
                    <td class="num neg">- {{ order.get_discount|floatformat:2 }} руб.</td>
                </tr>
            {% endif %}
            <tr class="total">
                <td>{% translate "Всего" %}</td>
                <td colspan="3"></td>
                <td class="num">{{ order.get_total_cost|floatformat:2 }} руб.</td>
            </tr>
        </tbody>
    </table>
    <form action="{% url 'payment:process' %}" method="post">
        <input type="submit" value="{% translate 'Оплатить' %}">
        {% csrf_token %}
    </form>
{% endblock %}